.cardsRow{
    display: flex;
    padding: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #EEEEEE;  
}

@media screen and (max-width: 900px) {
    .cardsRow {
        flex-direction: column;
    }
  }
  
.divider{
    width: 1em;
}